body {
    background-color: rgb(214, 214, 214);
}

.elab {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.card {
    margin: 37px 0px 37px 0px;
}

.col-md-2,
.col-md-3 {
    background-color: white;
    border: 0.5px solid black;
    height: 30.86vh;
}

.button {
    display: inline-block;
}

.bx-check-circle,
.bx-x-circle {
    font-size: 50px;
}

.item-sec {
    height: 10vh;
}

.item-sec-text {
    display: flex;
    text-align: center;
    align-items: center;
}

.item-sec-des {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

.item-sec-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-sec-datos {
    text-align: center;
}

#card-template {
    display: flex;
    align-items: center;
    height: 85.8vh;
}

.bxs-star,
.bx-star {
    color: rgb(255, 72, 0);
}

.accept {
    color: green;
}

.decline {
    color: red;
}

.aceptado {
    background-color: rgb(164, 224, 164);
}

.navbar-text {
    text-align: right;
    width: 85%;
    font-size: 25px;
}

.bx-log-out {
    color: rgb(255, 255, 255);
}

.bx-log-out:hover {
    color: rgb(255, 0, 0);
}