body {
    background-color: rgb(228, 227, 227);
}

a{
    color: rgb(32, 32, 32);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 78, 78);
}

.center{
    display: flex;
    justify-content: center;
}

button{
    position: sticky;
    width: 6%;
    height: 5%;
    top: 91%;
    left: 93.5%;
}

i{
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}